body{
  margin:0;
  background-color: #fafafa;
}

h1{
  text-align: center;
  font-family: 'Acme', sans-serif;
}

.lorem{
  margin-top: 200px;
}

.main-menu{
  width: auto;
  margin: 0;
  list-style: none;
  float: left;
  margin-left: 10%;
}

.menu-item{
  color: #ffffff;
  padding: 10px;
  float: left;
  margin-right: 24px;
  /*margin-top: 8px;*/
  font-weight: 400;
  /*font-family: 'Wendy One', sans-serif;*/
  font-family: 'Acme', sans-serif;
  font-size: 18px;
}

.item{
  text-decoration: none;
  color: #ffffff;
}

.back-menu:hover{
  /*width: auto;*/
  border-radius: 5px;
  background-color: #000000;
  /*padding: 5px;*/
}

.carrito-img:hover{
  border-radius: 5px;
  background-color: #000000;
  padding: 4px;
}

.header{
  position: fixed;
  z-index: 1000;
  top: 0;
  max-width: 100%;
  width: 100%;
  height: 60px;
  background-color: #2462A6;
  margin-bottom: 80px;
}

.header-content{
  width: 80%;
  margin-left: 5%;
  text-align: center;
  margin-top: 8px;
}


.logo{
  width: 14%;
  float: left;
  margin-top: 6px;
}

.carrito-img{
  float: right;
  width:32px;
  margin-top: 4px;
  margin-left: 10px;
}

.carro-txt{
  float: right;
  color: #ffffff;
  font-family: 'Acme', sans-serif;
  font-size: 18px;
}

.cart-container{
  overflow: hidden;
}

.banner{
  width: 100%;
  margin-top: 4%;
}

.img-banner{
  width: 100%;
}

/*Container*/
.container{
  width: 100%;
}

.product-column{
  width: 23%;
  margin-left: 7.75%;
  border: 2px solid #fafafa;
  float: left;
  margin-bottom: 3%;
}

.product-name{
  height: 30px;
  background-color: #2462A6;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  font-family: 'Acme', sans-serif;

}

.precio{
  text-align: center;
  font-weight: 900;
  font-family: 'Acme', sans-serif;
}

.line-title{
  background:#FAFAFA;
  padding:0 10px;
}

.line{
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.title-line-container{
  margin-right: 10%;
  margin-left: 10%;
}

/*Footer*/

.img-product{
  width: 100%;
  margin: 0 auto;
}

footer
{
  background-color: #2462A6;
  color: #ffffff;
  width: 100%;
  /*position: absolute;*/
  height:260px;
  bottom: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.footer-title{
  font-weight: bold;
}

.divfooter
{
  margin-top: 20px;
  margin-left: 180px;
  right: 50%;
  float: left;
  /*border-right-color: #ffffff ;
  border-right-style:inset;
  padding-right: 145px;*/
}

.iconos
{
  width: 50px;
}

.divfooter#derechos
{
  float: right;
  margin-right: 20px;
  text-align: right;
}

/*Contacto*/

#datos
{
  text-align: center;
}
input,textarea
{
  width: 90%;
  margin-top: 5px;
}
input.botones
{
  width: auto;
  background-color: #2563A6;
  color: #ffffff;
  border: 5px #000000;
  border-radius: 5px;
  padding: 5px;
}
.divcontact
{
  margin-top: 20px;
  margin-bottom: 50px;
  width: 41%;
  float: left;
  border: 2px #A2AFBF;
  border-style: groove;
  border-radius: 5px;
  margin-left: 5%;
  padding: 12px;
}
.divtitle
{
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  width: 40%;
  float: left;
  margin-left: 70px;
  padding: 12px;
}
iframe
{
  width: 100%;
  height: 600px;
  border: 2px #A2AFBF;
  border-style: groove;
  border-radius: 5px;
}
.divmap
{
  width: 91%;
  margin: 0 auto;
  margin-bottom: 35px;
}
.divtitlemap
{
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 25px;
}

/*Checkout*/

table
{
  margin-top: 100px;
  margin: 0 auto;
  border: 1px #A2AFBF;
  margin-bottom: 20px;
  font-family: 'Wendy+One',sans-serif;
  border-collapse: collapse;
}
.table
{
  width: 100%;
  margin-top: 100px;
}
th
{
  width:150px;
  background-color: #2462A6;
  color: #ffffff;
}
th#desc
{
  width: 600px;
}
span#desc
{
  float: left;
}
span
{
  padding: 5px;
}
.finalizarcompra
{
  font-family: 'Wendy+One',sans-serif;
  width: 79%;
  margin: 0 auto;
}
td
{
  text-align: center;
  font-family: 'Wendy+One',sans-serif;
}
button
{
  background-color: #2462A6;
  color: #ffffff;
  border: 5px #000000;
  border-radius: 5px;
  padding: 7px;
  height: 50px;
}
.buttons
{
  width: 32%;
  float: right;
  margin-bottom: 30px;
}

/*Product description*/

.description-container{
  width: 100%;
  margin-top: 100px;
}

.description-column-image{
  width:33.333333333%;
  float: left;
  margin-left: 7%;
}

.description-column{
  width:33.333333333%;
  float: left;
  margin-left: 7%;
  text-align: left;
}

.divisor{
  height: 3px;
  background-color: rgba(0,0,0,0.1);
  width: 7%;

}

.description-title{
  text-align: left;
}

.description-price{
  font-weight: 900;
  font-family: 'Acme', sans-serif;
  font-size: 24px;
}

.description-price p{
  font-size: 16px;
}

.price{
  font-size: 28px;
}

.cantidad{
  width: 5%;
}

.cantidad-txt{
  font-size: 16px;
  padding: 0px;
  color: #898787;
}

.description-text{
  color: #898787;
  padding: 0px;
  font-size: 16px;
}

.title-line-description{
  margin-right: 10%;
  margin-left: 10%;
  clear: both;
}

.comprar{
  vertical-align: -webkit-baseline-middle;
}

.fa-comprar{
  vertical-align: -webkit-baseline-middle;
}

.relacionados{
  width: 15%;
}

.relacionados-txt{
  font-size: 16px;
}
